@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<tbody>*@
    @foreach (OfferItem item in ViewBag.Items)
    {
        <tr id=@ViewBag.Items.IndexOf(item)>
            <td>
                @Html.DisplayFor(modelItem => item._Device.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Device._Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Device.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._TariffPackage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._TariffPackage.Price)
            </td>
            <td>
                <button asp-controller="Offers" asp-action="DeleteOfferItem" asp-route-ide=@ViewBag.Items.IndexOf(item) class="btn btn-outline-secondary">Delete</button>
            </td>
        </tr>
    }
@*</tbody>*@
@*<tfoot>
    <tr>
        <td>
            Ukupna suma
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            @ViewBag.Price
        </td>
    </tr>
</tfoot>*@