@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach (OfferItem item in ViewBag.Items)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item._Device.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item._Device._Manufacturer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item._Device.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item._TariffPackage.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item._TariffPackage.Price)
    </td>
    <td>
        <a class="deleteOfferItem" id=@ViewBag.Items.IndexOf(item) style="cursor:pointer;color:dodgerblue;">Delete</a>
    </td>
</tr>
}
<tfoot>
    <tr>
        <td>
            Ukupna suma
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            @ViewBag.Price
        </td>
    </tr>
</tfoot>